body{
    background-color: rgb(172, 252, 252);
}
.base1, .base2, .base3, .base4, .base5, .base6{
    background-color: #D1F2EB;
  width: 26%;
  float: left;
  margin: 1%;
  color:#8f1414;
  text-decoration:underline;
  font-size:17px;
  font-family:times new roman;
  border-width:1px;
  border-style:solid;
  border-color:#8f1414;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    background-color: #D1F2EB;
    border-width:1px;
    border-style:solid;
    border-color:#8f1414;
}
h1{
    background-color: #D1F2EB;
    color:#8f1414;
    text-decoration:underline;
    font-size:50px;
    font-family:times new roman;
    border-width:1px;
    border-style:solid;
    border-color:#8f1414;
}